<h1>Bootstrap In Angular Using CDN</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a href="#" class="navbar-brand">HSPA</a>

  <div>
    <div class="navbar-header">
      <a href="#" class="navbar-brand">RealEstate</a>
    </div>
    <ul class="nav nav-pills navbar-right">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Bike Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>

      <form class="my-2 my-lg-0">
        <table>
          <tr>
            <td>
              <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
            </td>
            <td>
              <button class="btn btn-outline-info my-2 my-sm-0" type="submit">
                Search
              </button>
            </td>
          </tr>
        </table>
      </form>
    </ul>
  </div>
</nav>
<!--
<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
<div class="alert alert-secondary" role="alert">
  A simple secondary alert—check it out!
</div>
<div class="alert alert-success" role="alert">
  A simple success alert—check it out!
</div>
<div class="alert alert-danger" role="alert">
  A simple danger alert—check it out!
</div>
<div class="alert alert-warning" role="alert">
  A simple warning alert—check it out!
</div>
<div class="alert alert-info" role="alert">
  A simple info alert—check it out!
</div>
<div class="alert alert-light" role="alert">
  A simple light alert—check it out!
</div>
<div class="alert alert-dark" role="alert">
  A simple dark alert—check it out!
</div>
-->
