<div class="row">
  <div class="shadow-lg col-sm-4 p-3">
    <div class="card">
      <div class="card-body p-2">
        <img
          class="card-img-top"
          src="assets/PropertyImages/Home-default.jfif"
          alt="Card image cap"
        />
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="shadow-lg col-sm-4 p-3">
    <div class="card">
      <div class="card-body p-2">
        <img
          class="card-img-top"
          src="assets/PropertyImages/Gateway_logo.png"
          alt="Card image cap"
        />
        <h1>{{ property.Id }}</h1>
        <h2>{{ property.proptype }}</h2>
        <h3>{{ property.price }}</h3>
      </div>
    </div>
  </div>
</div>
